.header {
  display: flex;
  border: 1px dotted red;
  justify-content: space-between;

}

.logo {
height: 90px;
}


.Search {

  padding-top: 10px;
  padding-bottom: 10px;
}


.res-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;

}

.res-card {
  border: 1px solid red;
  width: 150px;
  padding: 5px;
  margin: 10px;
}

.res-card-img { 
  max-height: 100%;
  max-width: 100%;
  object-fit: fill;
}


.nav-bar >ul {
  display: flex;
  list-style-type: none;
}

.nav-bar > ul > li {
padding: 10px;
margin: 10px;
}